/* General styles */
h2, h3 {
    display: inline-block !important;
}

.first-subheading {
    margin-top: 0 !important;
}

.heading-two-link {
    margin-top: 3rem;
}

.link-icon {
    margin-left: 1rem;
}

/* CT Abstract */
.abstract {
    margin: 1.2em 0 2em;
    font-size: larger;
    color: #6d6d6d;
    max-width: 672px;
}

.back-to-toc {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

/* CT Example */
.example {    
    margin: 2em 0 1.5rem;
    border: 3px solid #808080;
    border-radius: 4px;
}

.example p {
    max-width: 100%;
}

.example-heading {    
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: #f5f5f5;
}

.example-text {
    padding: 0em 1em 0em 2.7em;
}

.example-text-instruction {
    font-weight: bold;
    padding: 0em 1em 0em 1em;
}

.example-text:last-child {
    padding: 0em 1em 1em 2.7em;
}

/* Example type Do/Don't */
.example-heading-do-dont {
    font-weight: bold;
    padding: 0 0.5em 0.5em 2em;
}

/* Example type Do */
.example-do {
    /* margin-top: 24px; */
    border: 3px solid #0CAC78;
    border-radius: 4px;
    margin: 1rem;
    padding-top: 1rem;
}

.do-icon {
    margin-left: 0.5rem;
    width: 21px;
    height: 21px;
    border: 3px solid #0CAC78;
    border-radius: 50%;
    background: url(../assets/img/outline-check-24px.svg);
}

/* Example type Don't */
.example-dont {
    /* margin-top: 24px; */
    border: 3px solid #FF635C;
    border-radius: 4px;
    margin: 1rem;
    padding-top: 1rem;
}

.dont-icon {
    margin-left: 0.5rem;
    width: 21px;
    height: 21px;
    border: 3px solid #FF635C;
    border-radius: 50%;
    background: url(../assets/img/outline-close-24px.svg);
}

/* CT Rationale */
.rationale {
    background-color: #f5f5f5;
    padding: 1rem;    
    margin-top: 2.5rem;
}

.rationale-links {
    margin-top: 1rem;
}

.rationale-links p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* CT Mandatory */
.mandatory-links {
    margin-top: 1rem;
}

.mandatory-links p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* CT Checklist */
.checklist {
    margin-top: 1.5rem;    
    margin-bottom: 1.5rem;  
}

/* .checklist h3 {
    margin-left: 4.1rem;
} */

.checklist h4 {
    display: inline-block;
    margin-left: 2.5rem;
}

.checklist p, li {
    margin-left: 4.1rem;
}

.check-tick {
    width: 21px;
}

/* CT More resources */
.more-resources-links {
    margin-top: 1rem;
}

.more-resources-links p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* CT Source attribution */
.source-attribution {
    /* float: right; */
    margin-top: 3rem;
    /* display: inline-block; */
    background-color: #f5f5f5;
    padding: 1rem;
}

.source-attribution div {
    display: inline-block;
}

.source-attribution p {
    font-size: small;
    color: #636363;
}

.source-attribution div:nth-child(even) {
    margin-left: 2rem;
}

.source-attribution div:nth-child(odd) {
    font-weight: bold;
}